body {
    margin: 0;
    padding: 0;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#maxbox {
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px, 50px;
    background-color: #00000090;
    text-align: center;
    width: 600px;
    height: 400px;
    border-radius: 10px;
}

#maxbox h1 {
    padding: 0;
    padding-top: 60px;
    color: white;
    font-size: 30px;
}

#maxbox .inputbox {
    margin-top: 30px;
}

#maxbox .inputText {
    margin-top: 20px;
}

#maxbox .inputText span {
    color: white;
    font-size: 20px;
}

#maxbox .inputText input {
    border: 0;
    padding: 6px;
    border-bottom: 1px solid white;
    background-color: #FFFFFF00;
    color: white;
}

#maxbox .inputCheck {
    margin-top: 20px;
}

#maxbox .inputCheck a {
    color: white;
    font-size: small;
}

#maxbox .inputbox Button {
    margin: 0;
    border: 0;
    margin-top: 30px;
    width: 150px;
    height: 25px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

#sign_up {
    margin-top: 50px;
    color: white;
    font-size: 17px;
}

#sign_up a {
    color: #3498db;
}